body {
  padding: 0;
  margin: 0;
  background: rgb(253, 245, 235) url('./pages/images/honeycomb.png');
  background-repeat:repeat-y;
  background-position: center;
  background-size:cover;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(15deg, #ffe830 0%, #f5a03b 100%);
  text-shadow: 2px 2px 4px black;
  box-shadow: 2px 2px 5px #fbd466;
}

.navbar--logo {
  max-width: 60px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px black;
}

.navbar--title {
  padding-left: 10px;
  font-size: 2.5rem;
  font-family: 'Pacifico', cursive;
  color: #b1dedd;
  -webkit-text-stroke: #48bec5;
  -webkit-text-stroke-width: 1px;
  text-shadow: black;
}

.page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 75px;
  height: 40em;
  width: auto;
}

@media(max-width:500px){
  .page {
    /* background-color: red; */
    padding-top: 15%;
  }
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 3px;
  border-style: solid;
  border-color: #fbd466;
  border-radius: 8px;
  width: 300px;
  height: 14em;
  padding: 10px;
  background-color: #fbd466;
  box-shadow: 2px 2px 5px #99813d;
}

.login--field {
  display: flex; 
  flex-direction: column;
  height: 80%;
  justify-content: space-around;

}

.login--field > input {
  font-family: 'Inter', sans-serif;
  border-radius: 5px;
  border: none;
  height: 40px;
  box-shadow: 2px 2px 1px;
  text-indent: 10px;
}

.login--field > button {
  font-family: 'Inter', sans-serif;
  border-radius: 5px;
  border: none;
  height: 40px;
  box-shadow: 2px 2px 2px;
  cursor: pointer;
  background-color: #f5a03b;
}

.login--field > button:hover{
  background-color: #cd8732;
}

.login--links {
  display: flex;
  justify-content: space-around;
  font-family: 'Inter', sans-serif;
  padding-top: 10px;
}

.recipes{
  display: flex;
  justify-content: center;
}

.recipe-card {
  width: 300px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  
}

.recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipe-card h2 {
  margin: 10px;
  font-size: 24px;
  font-weight: 500;
}

.recipe-card p {
  margin: 0 10px;
  font-size: 16px;
  color: #666;
}

.recipe-card ul {
  margin: 10px;
  padding: 0;
  list-style: none;
}

.recipe-card li {
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.recipe-card button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #f5a03b;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.recipe-card button:hover {
  background-color: #cd8732;
}

.hamburger-button {
  display: flex;
  position: absolute;
  left:2%;
  flex-direction: column;
  cursor: pointer;
  justify-content: left;
}

.hamburger-line {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 3px 0;
}

.dropdown-menu {
  position:absolute;
  top: 50px;
  float: left;
  background-color:#fbd466;
  border: 1px solid black;
  padding: 10px;
  width: auto;
  max-width: fit-content;
  z-index: 100;
}

.dropdown-menu a {
  display: block;
  padding: 5px 0;
  color:black;
  text-decoration:none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dropdown-menu a:hover {
  background-color: #ffe830;
  color: black;
}